<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <div class="container-fluid">
    {% for item in wish_items %}
      <div class="row">
        <h4{{ item.name }}</h4>
      </div>
      <div class="row">
        <div class="col">
            <img src="images/products/{{item.image}}" class="img-fluid">
        </div>
        <div class="col">
            <p class="price">{{item.price}}</p>
            <p class="quantity text-success">{{item.quantity}} available </p>
        </div>
        <div class="col">
        
        </div>
      </div>
    {% endfor %}
    </div>
    {% include 'partials/footer.twig' %}
  </body>
</html>