<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <div class="container main-container">
    {% for item in wish_items %}
      <div class="row">
        <h4 class="col"u>{{item.name}}</h4>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="images/products/{{item.image}}" class="img-fluid">
        </div>
        <div class="col-6">
          <p class="price">{{item.price}}</p>
          <p class="quantity text-success">{{item.quantity}} available </p>
        </div>
        <div class="col-3">
          <form method="get" action="wishlist.php">

          </form>
        </div>
      </div>
    {% endfor %}
    </div>
    {% include 'partials/footer.twig' %}
  </body>
</html>